/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/poppins-v15-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/poppins-v15-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-200 - cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200;
  src: local(''),
       url('../fonts/manrope-v4-cyrillic-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/manrope-v4-cyrillic-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-300 - cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/manrope-v4-cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/manrope-v4-cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-regular - cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/manrope-v4-cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/manrope-v4-cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-500 - cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/manrope-v4-cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/manrope-v4-cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-600 - cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/manrope-v4-cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/manrope-v4-cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-700 - cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/manrope-v4-cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/manrope-v4-cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-800 - cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('../fonts/manrope-v4-cyrillic-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/manrope-v4-cyrillic-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

ul, li {
    list-style: none;
  }
/* header styles */
.header_list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}
.header_item {
  margin-left: 27px;
}
.header_icon {
  list-style: none;
  text-decoration: none;
  color: #000000;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;

  letter-spacing: 0.02em;
}
.wrapper {
  max-width: 1440px;
}
/* intro styles */
.intro_title {
  margin-top: 100px;
  margin-left: 50px; 
  width: 630px;
  height: 168px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 63px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #2C2D30;
}
.intro_btn {
  margin: 40px;
  width: 260px;
  height: 66px;
  left: 315px;
  top: 496px;
  background: #2C2D30;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
}
.map_spot {
  margin-left: 50px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #000000;
  }
.image_intro {
  margin-left: 30px;
  width: 100%;
}
.about_title {
  margin: 150px;
  margin-left: 450px;
  width: 654px;
  height: 108px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #000000;
}
.grid_about {
  margin-left: 50px;
  display: grid;
  grid-template-columns: auto;
}
.grid_title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #000000;

}
.grid_subtitle {
  width: 375px;
  height: 224px;
  left: 425px;
  top: 2142px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  text-align: justify;
  letter-spacing: 0.01em;
  color: #000000;
}
.menu_title {
font-family: Manrope;
font-style: normal;
font-weight: 500;
font-size: 46px;
line-height: 63px;
display: flex;
align-items: center;
letter-spacing: 0.02em;
margin-left:600px;
}
.coffee {
  font-family: Manrope;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #343434;
}
