/* poppins-300 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/poppins-v15-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v15-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* manrope-200 - cyrillic */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    src: local(''),
         url('../fonts/manrope-v4-cyrillic-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/manrope-v4-cyrillic-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* manrope-300 - cyrillic */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/manrope-v4-cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/manrope-v4-cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* manrope-regular - cyrillic */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/manrope-v4-cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/manrope-v4-cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* manrope-500 - cyrillic */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/manrope-v4-cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/manrope-v4-cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* manrope-600 - cyrillic */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/manrope-v4-cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/manrope-v4-cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* manrope-700 - cyrillic */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/manrope-v4-cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/manrope-v4-cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* manrope-800 - cyrillic */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('../fonts/manrope-v4-cyrillic-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/manrope-v4-cyrillic-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
html {
  overflow-x:hidden;
}
body, h1, h2, h3, h4, h5, h6, p, li {
    font-family: Manrope;
}
li {
    list-style: none;
}
 /* start style */
 .navbar-brand {
  padding-right: 200px;
  padding-left: 100px;
 }
 .nav-item {
   margin-left: 50px;
 } 
.title_intro {
  width: 630px;
  height: 168px;
  margin-left: 70px;
  font-weight: bold;
  font-size: 46px;
  line-height: 63px;
  letter-spacing: 0.02em;
}
.buttons {
  display: flex;
}
.btn_about {
  width: 400px;
  height: 66px;
  left: 315px;
  top: 496px;
  background-color: #2C2D30;
  color: black;
  margin-left: 45px;
  margin-right: 40px;
}
.btn-light {
  width: 300px;
  height: 60px;
  border: 2px solid #303030;
}